<div style="margin-left: 3%;">
    <button><a href="adminhome">Back</a></button>
</div>
<hr>
<div class="page">
    <div class="heading">
        <p>Complaints</p>
    </div>
</div>
<br>
<table style="width:100%;  border:1px solid black">
    <tr style="width:100%;  border:1px solid black">
        <th>User Id</th>
        <th>User Name</th>
        <th>Complaint</th>
        <th>Action Taken By</th>
        <th>Status?</th>
        <th>Customer Feedback</th>
        <th>View Complaint</th>
       
       
    </tr>
    <tr style="width:100%;  border:1px solid black">
        <td>Name</td>
        <td>Name</td>
        <td>Name</td>
        <td>Name</td>
        <td>Name</td>
        <td>Name</td>
        <td><button>View</button></td>
       
    </tr>
</table>

<br>