<br>
<div class="logout">
  <button (click)="logout()">Logout</button>
</div>
<hr>

<div style="text-align: center; font-weight: bolder; font-size:xx-large;">
Hello Admin
</div>
<hr><br>
<div class="row">
<div class="col-6">
    <div class="card text-center">
       
        <div class="card-body">
          <h5 class="card-title">Add Employees</h5>
          <p class="card-text">
            Create Manager and Engineers profile and assign them to work.

          </p>
          <!-- <a href="#" class="btn btn-primary">Button</a> -->
        </div>
        <div class="card-footer text-muted">
            <a href="addemp" class="btn btn-primary">Add</a>
        </div>
      </div>
</div>

<div class="col-6">
    <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Employees and customers</h5>
          <p class="card-text">
          View All Employees and Customers here
            </p>
        </div>
        <div class="card-footer text-muted">
            <a href="allemployees" class="btn btn-primary">View</a>
        </div>
      </div>
</div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <div class="card text-center">
           
            <div class="card-body">
              <h5 class="card-title">Complaints</h5>
              <p class="card-text">
               View all Complaints with status
              </p>
              <!-- <a href="#" class="btn btn-primary">Button</a> -->
            </div>
            <div class="card-footer text-muted">
                <a href="allcomplaints" class="btn btn-primary">View</a>
            </div>
          </div>
    </div>
    
    <!-- <div class="col-6">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Tickets</h5>
              <p class="card-text">
              View Tickets rise by customers 
                </p>
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-primary">Click here</a>
            </div>
          </div>
    </div> -->
    </div>

