<div class="card" id="card">
    <div class="row">
        <div class="col">
            Home
        </div>

        <div class="col" >
            File Complaint
        </div>

        <div class="col">
            <a href="viewcomplaintcust">
                View Complaints Status
            </a>           
        </div>


        <div class="col" >
            <a  href="customerprofile">Profile</a>
            
        </div>

        <div class="col" >
            <a href="">
                Logout
            </a>
            
        </div>
        

    </div>
</div>
