<header class="header">
    
    <h4 class="label"><b><i>Customer Sign in</i></b></h4>

</header>
<hr>

<content style="text-align: center;">

<div class="card">


    <form [formGroup]="register" (ngSubmit)="submit()">

        <div class="form-row" id="alform">
            <div class="col-md-12 mb-10">
                <label class="label"><b>Role</b></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- <span class="input-group-text" id="inputGroupPrepend3">@</span> -->
                    </div>
                    <select class="form-control" placeholder="select Role" formControlName="role">
                        <option>Manager</option>
                        <option>Engineer</option>
                        <option>Customer</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="col-md-12 mb-10">
                <label class="label"><b>Full Name</b></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- <span class="input-group-text" id="inputGroupPrepend3">@</span> -->
                    </div>
                    <input type="text" class="form-control" placeholder="Fullname" formControlName="fullname">

                </div>
            </div>
            
            <br>

            <div class="col-md-12 mb-10">
                <label class="label"><b>Phone</b></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- <span class="input-group-text" id="inputGroupPrepend3">@</span> -->
                    </div>
                    <input type="text" class="form-control" placeholder="Phone" formControlName="contactno">

                </div>
            </div>
            <br>

            <div class="col-md-12 mb-10">
                <label class="label"><b> Email</b></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- <span class="input-group-text" id="inputGroupPrepend3">@</span> -->
                    </div>
                    <input type="text" class="form-control" placeholder="email" formControlName="useremailid">

                </div>
            </div>
            <br>
            <div class="col-md-12 mb-10">
                <label class="label"><b> Address</b></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- <span class="input-group-text" id="inputGroupPrepend3">@</span> -->
                    </div>
                    <input type="text" class="form-control" placeholder="address" formControlName="useraddress">

                </div>
            </div>
            <br>
            <div class="col-md-12 mb-10">
                <label class="label"><b>User Name</b></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- <span class="input-group-text" id="inputGroupPrepend3">@</span> -->
                    </div>
                    <input type="text" class="form-control" placeholder="Username" formControlName="username">

                </div>
            </div>
            <br>
            <div class="col-md-12 mb-10">
                <label class="label"><b>Password</b></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <!-- <span class="input-group-text" id="inputGroupPrepend3">@</span> -->
                    </div>
                    <input type="text" class="form-control" placeholder="create temporary password" formControlName="password">

                </div>
            </div>
        
        </div>









        <hr>

        <button class="reg" type="submit">Sign in !</button>


    </form>






</div>

</content>